/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    background:#f1c40f;
    background-attachment: fixed;
	background-size:cover;
	font-family: 'Josefin Sans', sans-serif;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #000;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}
/*--main--*/
.main {
    padding: 6em 0 0;
}
.main-info {
    width: 35%;
    margin: 5em auto;
    background: #32457c;
    padding: 2em;
	border-radius: 5px;
}
/*--//main--*/
.weather-grids {
    float: left;
    width: 33%;
}
.weather-grids.weather-mdl {
    text-align: center;
}
.weather-grids:nth-child(3) {
    text-align: right;
}
.weather-grids h3 {
    font-size: 1.5em;
    color: #fff;
}
.weather-grids h3.fri {
    font-weight: 900;
    color: #FFD700;
	margin-top: 0.7em;
}
.weather-grids h2 {
    font-size: 3em;
    font-weight: 300;
	color: #fff;
}
.weather-grids h4 {
    font-size: 1em;
    color: #fff;
}
.weather-bottom {
    text-align: center;
    margin-top: 2em;
}
.weather-bottom ul li {
    display: inline-block;
    padding: 1em 0;
    float: left;
    width: 20%;
}
.weather-bottom ul li.bg{
    background: #314277;
}
.weather-bottom h4 {
    font-size: 1em;
    color: #fff;
    font-weight: 100;
}
figure.icons {
    margin: 0.5em 0;
}
.weather-bottom h5 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
}
.weather-bottom h6 {
    font-size: 1em;
    color: #FFD700;
    margin-top: 0.5em;
}
/*--copyright--*/
.copyright {
    margin: 2em 0 1em;
    text-align: center;
}
.copyright p {
    font-size: 1.1em;
    color: #000;
	line-height:1.8em;
}
.copyright p a{
    color: #000;
}
.copyright p a:hover{
    color: #314277;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--//copyright--*/
/*---- responsive-design -----*/
@media(max-width:1440px){
.main {
    padding: 5em 0 0;
}
}
@media(max-width:1366px){
.main-info {
    width: 37%;
}
}
@media(max-width:1280px){
.main-info {
    width: 39%;
}
}
@media(max-width:1080px){
.main-info {
    width: 46%;
}
}
@media(max-width:1024px){
.main-info {
    width: 47%;
}
}
@media(max-width:900px){
.main-info {
    width: 50%;
}
}
@media(max-width:800px){
.main {
    padding: 4em 0 0;
}
.main-info {
	margin: 4em auto;
}
h1 {
    font-size: 2.8em;
}
.main-info {
    width: 58%;
}
}
@media(max-width:640px){
h1 {
    font-size: 2.6em;
}
.main-info {
    width: 70%;
	padding: 1.5em;
}
.weather-grids h2 {
    font-size: 2.8em;
}
}
@media(max-width:480px){
h1 {
    font-size: 2.2em;
}
.main-info {
    width: 82%;
    margin: 3em auto;
}
.weather-grids h3 {
    font-size: 1.3em;
}
.weather-grids h2 {
    font-size: 2.5em;
}
.weather-grids h4 {
    font-size: 0.8em;
}
.weather-bottom h5 {
    font-size: 1.1em;
}
.weather-bottom h6 {
    font-size: 0.9em;
}
.copyright p {
    font-size: 1em;
}
.main {
    padding: 3em 0 0;
}
}
@media(max-width:414px){
.main-info {
    padding: 1.5em 1em;
}
.weather-bottom h4 {
    font-size: 0.9em;
}
canvas#clear-day {
    width: 60px;
    height: 60px;
}
.weather-bottom canvas {
    width: 30px;
    height: 30px;
}
.weather-bottom {
    margin-top: 1.5em;
}
}
@media(max-width:375px){
h1 {
    font-size: 1.8em;
}
.main {
    padding: 2em 0 0;
}
}
@media(max-width:320px){
h1 {
    font-size: 1.6em;
}
.main-info {
    width: 82%;
    margin: 1.5em auto;
    padding: 1em;
}
.weather-grids h2 {
    font-size: 2em;
}
.weather-grids h4 {
    font-size: 0.7em;
}
.weather-grids h3 {
    font-size: 1.1em;
}
canvas#clear-day {
    width: 55px;
    height: 55px;
}
.weather-bottom canvas {
    width: 20px;
    height: 20px;
}
.weather-bottom ul li {
    width: 14.2%;
	padding: 0.5em 0;
}
.weather-bottom h5 {
    font-size: 0.9em;
}
.weather-bottom h6 {
    font-size: 0.8em;
}
}


/*--//responsive-design---*/

.icon {
  position: relative;
  display: inline-block;
  width: 7em;
  height: 8em;
  font-size: 0.5em; /* control icon size here */
}

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  color: #d6d5c5;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em,
    2.0625em 0.9375em 0 -0.9375em,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #fff,
    2.0625em 0.9375em 0 -0.9375em #fff,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { background: #fff; }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: #FFD700;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #FFD700;
  animation: spin 12s infinite linear;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #FFD700;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #FFD700;
}
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #FFD700;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #FFD700;
}
.rays:before {
  transform: rotate(120deg);
}
.cloud + .sun {
  margin: -2em 1em;
}

.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: transparent;
}

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow:
    0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
    -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
    -1.375em -0.125em 0 rgba(255,255,255,0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}

.flake:before,
.flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #fff;
  list-height: 1em;
  opacity: 0.2;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse;
}


/* Animations */ 

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes cloud {
  0% { opacity: 0; }
  50% { opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}

@keyframes rain {
  0% {
    background: #0cf;
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em #0cf,
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow:
      0.625em 0.875em 0 -0.125em #0cf,
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #0cf;
  }
}

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}

button.active {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

button.inactive {
    background-color: #008CBA;
    color: white;
    border: none;
}

